* {
  box-sizing: border-box;
}

svg {
  width: 50em;
  height: 20em;
  border: 0.1em solid black;

  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 0.02em;
  }

  g.samples {
    circle {
      fill: black;
      stroke: none;
    }
  }

  g.lines {
    line {
      stroke: black;
      stroke-width: 0.02em;
    }
  }
}

div.command {
  width: 50em;
  border: 0.1em solid black;
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  padding: 0.5em;

  label {
    display: flex;
    flex-flow: column;

    input.value {
      width: 5em;
    }
  }

  div.buttons {
    display: flex;
    justify-content: space-around;

    button {
      padding: 0.5em 1em;
      cursor: pointer;
    }
  }
}
