svg {
  width: 50em;
  height: 20em;
  background-color: #eee;

  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 0.02em;
  }

  g.samples {
    circle {
      fill: black;
      stroke: none;
    }
  }
}
